@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.aboutus-background{
  background-image: url('../resources/aboutusbackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:scroll;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: space-evenly;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 305px;
  }


.aboutus-container{
  flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.aboutus-header h2{
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Dancing Script', cursive;
  font-size: 90px;
  background-color: rgba(231, 173, 118, 0.26);
  border-radius: 15px;
}

.aboutus-gap{
  color:rgba(255, 255, 255, 0);
  padding:5px;
}

.aboutus-paragraph h4{
  padding: 40px;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  background-color: rgba(231, 173, 118, 0.26);
  border-radius: 15px;
}